<div *ngIf="content" class="margin-left_right_50">

  <!--
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{content.data.alert.bold_text}}</strong> {{content.data.alert.normal_text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
-->

  <div class="margin_top_bottom">
    <!--<img src="../../assets/uploads/img/biblioteca3.jpg" class="mx-auto d-block big-logo" alt="Responsive image">-->
  </div>

  <div class="row">
    <div class="mx-auto col-md-8">
      <div class="card border_radius_blue">
        <div class="card-body">
          <h3 class="card-title text-center title-blue_grey">{{content.data.panel.title}}</h3>
          <br><p class="card-text text-justify"[innerHTML]="content.data.panel.text"></p>
        </div>
      </div>
    </div>
  </div>

</div>
